html{
	background-color: rgb(232,196,178);
	border-radius: 50px;
}
header {
	display: block;
	text-align: center;
	border-radius: 50px;
	background-color: rgb(232,180,164);
	width: 28%;
	margin-left: 36%;
}
.container{
	border-radius: 50px;
	background-color: rgb(232,186,174);
	text-align: center;
}
